.button {
    width: 100%;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #348efb;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;

    &__icon {
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
        fill: white;
    }
}