.notes-list {
    height: 100%;

    &__search-form {
        margin: 0 0 20px;
    }

    &__sorting {
        margin: 0 0 20px;
    }

    &__container {
        height: calc(100vh - 165px);
        overflow: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        height: 90px;
        margin: 0 0 20px;
    }
}